
                <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                    <h1 class="text-center">Свежие заявки</h1> <br>
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-6 text-left">
                            <label class="control-label col-xs-12 col-sm-4">раздел:</label>
                            <select class="col-xs-12 col-sm-6">
                                <option>Все</option>
                                <option>Не все</option> 
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 text-right">
                            <label class="control-label col-xs-12 col-sm-6">регион:</label>
                            <select name="region" class="col-xs-12 col-sm-6">
                                <option>Новосибирск</option>
                                <option>Новосибирская область</option>
                                <option>Оренбург и область</option>
                                <option>Иркутск</option>
                            </select>
                        </div>
                    
                    </div>
                    
                </div>