 <nav class="navbar navbar-default">
        <div id="navbar" class="container-fluid">
                <select name="region" class="marg">
                    <option>Новосибирск</option>
                    <option>Новосибирская область</option>
                    <option>Оренбург и область</option>
                    <option>Иркутск</option>
            </select>
            <ul class="nav navbar-nav navbar-right">
                <li class="reg"><a href="#"><span class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
                <li class="login"><a href="profile.html"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
            </ul>
        </div>
</nav>