 <nav class="navbar navbar-default">
        <div id="navbar" class="container-fluid">
            
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="region">Регион: Новосибирск и область
                                        <span class="caret"></span>
                                    </a>
                
                                    <ul class="dropdown-menu">
                                            <li><a href="#nsk">Новосибирск и область</a></li>
                                            <li><a href="#ekb">Cвердловская область</a></li>
                                            <li><a href="#orn">Оренбург и область</a></li>
                                            <li><a href="#irk">Иркутск</a></li>
                                    </ul>
                                
            <ul class="nav navbar-nav navbar-right">
                <li class="reg"><a href="#"><span class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
                <li class="login"><a href="profile.html"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
            </ul>
        </div>
</nav>