    <div class="container top delete-right-mar lim-100">
        <div class="row delete-right-mar lim-100">
            <!-- Заявки -->
            <div class="col-xs-12 delete-right-mar delete-left-mar">
                <div class="col-xs-12 delete-right-mar">
                    <div class="col-xs-6 col-sm-6 gray">
                            вчера, в 21:30
                    </div>
                    <div class="col-xs-6 col-sm-6 gray text-right">
                        <a class="gray"><span class="glyphicon glyphicon-star"></span>в закладки</a>
                    </div>
                    <div class="col-xs-12 text-left">
                        <br>
                        <p>60шт. ПК от 72-15  до ПК 21-15, Криводановка, с доставкой.</p>
                        <p>Алексей</p>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-default">Показать номер</button> <span class="gray"> 12 просмотров</span> </div>
                        
                    
                </div>  
            </div>
        </div>
    </div>
