    <div class="container top">
        <div class="row">
            <!-- Заявки -->
            <div class="col-sm-8 col-sm-offset-1 col-xs-12">
                <div class="col-xs-12">
                    <div class="col-xs-6 col-sm-6 gray">
                            вчера, в 21:30
                    </div>
                    <div class="col-xs-6 col-sm-6 gray text-right">
                        <a class="gray"><span class="glyphicon glyphicon-star"></span>в закладки</a>
                    </div>
                    <div class="col-xs-12 text-left">
                        <br>
                        <p>60шт. ПК от 72-15  до ПК 21-15, Криводановка, с доставкой.</p>
                        <p>Алексей</p>
                    </div>
                <button class="btn btn-default">Показать номер</button> <span class="gray"> 12 просмотров</span>
                <hr>
                </div>
                    
            </div>
        </div>
    </div>
    