{% extends "_base.html" %}
{% block content %}
{% include "_nav_unloginned.html" %}
      
    <div class="container">
        <div class="row">
            <br>
            <p class="marg">Участники в Новосибирске: <a href="catalog.html">105 оптовых компаний</a> и <a href="catalog.html">25 производителей</a></p>
            <br>
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h2 class="page-name center">ВАМ ПОЗВОНЯТ ЛУЧШИЕ ПОСТАВЩИКИ НОВОСИБИРСКА</h2>
                </div>
        </div>
      </div>
      
      
      <div class="container">
        <div class="row">
            <!-- Новая заявка -->
            <div class="col-sm-8 col-sm-offset-2 col-xs-11 col-xs-offset-1 field bordered">
                <h3>Я ищу</h3>
                <form class="form-horizontal" action="post">
                    <div class="form-group">
                        <div class="col-xs-11 col-xs-offset-1">
                            <label class="control-label" >
                            <input type="checkbox"> ЖБИ (фундаментальные блоки ФБСб плиты перекрытий ПК, перемычки)</label>
                        </div>
                        <div class="col-xs-11 col-xs-offset-1">
                            <label class="control-label" >
                            <input type="checkbox"> Кирпич / Газобетон / Брус </label>
                        </div>
                        <div class="col-xs-11 col-xs-offset-1">
                            <label class="control-label" >
                            <input type="checkbox"> Бетон / Раствор </label>
                        </div>
                        <div class="col-xs-11 col-xs-offset-1">
                            <select name="region" class="marg limiter">
                                <option>в Новосибирске и области</option>
                                <option>в Свердловской области</option>
                                <option>в Оренбурге и области</option>
                                <option>в Иркутске</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="col-xs-5 left"> Описание*</label>
                            <textarea class="form-control col-xs-2" rows=2> </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6">
                            <label class="control-label col-xs-12 col-sm-6" >Телефон*</label>
                            <input type="text" class="input-md col-xs-12 col-sm-6"> 
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label class="control-label col-xs-12 col-sm-6" >Имя</label>
                            <input type="text" class="input-md col-xs-12 col-sm-6"> 
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default text-uppercase bordered large ">Отправить</button>
                    </div>
                </form>
                <br>
                </div>
          </div>
        </div>
      
        {% include "_filter_requests.html" %}
      
        <div class="col-sm-offset-2 col-sm-8 delete-right-mar">
        {% for comment in range(comments) %}
                {% include "_request.html" %}
        {% endfor %}
        </div>
        {% include "_button_new.html" %}

      <br>
      
      <div class="container comments">
          <div id="myCarousel" class="col-xs-12 col-sm-8 col-sm-offset-2 carousel" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                  <div class="item active">
                        <div class="col-xs-8 col-xs-offset-2 bordered">
                            <p></p>
                            <p><b>1Кирилл, 29 лет, г.Барабинск</b></p>
                            <p>Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер! </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-xs-8 col-xs-offset-2 bordered">
                            <p></p>
                            <p><b>2Кирилл, 23 лет, г.Барабинск</b></p>
                            <p>ВСЕ СУПЕР КУПИЛ СЕБЕ, ЖЕНЕ, БАТЕ, БРАТУ ТЕЩЕ ПЕНОБЛОКОВ ГДЕ-ТО 1210 ШТУК НА РЫЛО СПАСИБО! </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-xs-8 col-xs-offset-2 bordered">
                            <p></p>
                            <p><b>Евгеха, 24 лет, г.Барабинск</b></p>
                            <p>Ну ниче так </p>
                        </div>
                    </div>    
                </div>
        

          <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left gray" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right gray" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
        <div class="text-center comments">
                    <button type="submit" class="top btn btn-default bot bordered">Оставить отзыв</button>
        </div>
         
                
        {% include "_footer.html" %}
        {% endblock %}