    {% extends "_base.html" %}
    {% block content %}
    {% include "_nav_unloginned.html" %}

    <span class="glyphicon glyphicon-home logo"></span>
    <div class="container">
        
    </div>
    <div class="container delere-right-mar delete-right-pad">
        <div class="row delete-left-mar delete-right-mar">
                {% include "_filter_requests.html" %}
                <div class="col-sm-8 col-sm-offset-2 delete-right-mar">
                    {% for comment in range(comments) %}
                        <hr>
                        {% include "_request.html" %}
                    {% endfor %}
                </div>
            <br>
                    {% include "_button_new.html" %}
                </div>
        </div>
    {% include "_footer.html" %}
    {% endblock %}