    {% extends "_base.html" %}
    {% block content %}
    {% include "_nav_unloginned.html" %}

    <span class="glyphicon glyphicon-home logo"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h1 class="page-name">Заявки</h1>
                    <hr>
                    {% for comment in range(comments) %}
                        {% include "_request.html" %}
                    {% endfor %}
            </div>
            <div class="text-center">{% include "_button_new.html" %}</div>
            <div class="text-center">{% include "_pages.html" %}</div>
        </div>
    </div>
    
    {% include "_footer.html" %}
    {% endblock %}