{% extends "_base.html" %}
{% block content %}
{% include "_nav_unloginned.html" %}
      
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <span class="glyphicon glyphicon-home logo"></span>
        </div>
        <div class="col-xs-offset-1">
            <a href="index.html">Главная </a> <span class="glyphicon glyphicon-chevron-right marg"></span><a href="catalog.html"> Каталог организаций </a> 
            <span class="glyphicon glyphicon-chevron-right marg"></span> Выбранный раздел
        </div>
    </div>
      
      
    <div class="container margin-top">
        <h1 class="text-center">Производители и оптовые компании в Новосибирске и области</h1>
        <h2 class="text-center margin-top margin-bottom">Выбранный раздел</h2>
        <div class="row">
            
            {% for supplier in range(suppliers) %}
                {% include "_suppluier.html" %}
            {% endfor %}
            
        </div>
        {% include "_pages.html" %} 
        <button class="btn btn-default marg medium margin-bottom">Оставить заявку</button>
    </div>  
    
    
    {% include "_footer.html" %}
    {% endblock %}